/* CSS declarations go here */
body{
  background-color: black;
}
/*ADMIN STYLES */
.adminNav{
  background-color: black;
  border-color:black;
}
.adminPanel1{
  background-color: white;


}
.adminPanel1 h3{
  margin-top:50px;
  margin-bottom:50px;
}

.adminPanel2{
  background-color:white;

}
.adminPanel2 h3{
  margin-top:50px;
  margin-bottom:50px;
}


.adminPanel3{
  background-color:white;

}
.adminPanel3 h3{
  margin-top:50px;
  margin-bottom:50px;
}
.whiteText{
  color:white;
}



/*Splash Screen*/
.splashBG{
  background-image:url('splashBG.jpg');
  min-height:580px;
  background-position: center;
}
.logoText{
  padding-top:400px;
  color:white;
  font-size: 80px;
}
.langLink{
  color:white;
  font-size: 40px;
  text-decoration: none;
  padding:10px;
}
.linkBox{
  margin-top:40px;
  padding:20px;

}
/*Carousel*/
.carousel-img{
  min-width:100%;
  min-height:100%;
  max-height:500px;
}
/*HomePage Styles*/
.container-base-style{
  background-color:rgb(22, 22, 22);
  color:white;
}
.container{
  padding:0;
}
.left-column{
  border-right: 1px solid white;
  min-height: 300px;
}
.right-column{
  border-left: 1px solid white;
  min-height:300px;
}
.mid-column{
  min-height:300px;
}
.godSpeedNav{
  background-color: black;
  border-color:black;
  font-size: 25px;
  font-weight: bolder;
}
/*Live Menu Style*/
.liveMenu{
  font-family: 'Architects Daughter', cursive;
  color:white;
}
.liveMenuPanel{
  background-color: black;

}
.liveMenuPanel h4{
  display:inline-block;
  padding-right:20px;
}
.liveMenuPanel h3{
  display: inline-block;
  padding-right:20px;
}
/*Google Map Styles*/
#map{
  width:400px;
  height:400px;
}