<template name="aboutEdit">
  {{#if currentUser}}
  <div class="container">
    <h2>Edit your Store Hours, your Brewery/Brewer History</h2>
    {{#each about}}
      {{>aboutDisplay}}
    {{/each}}
  </div>
  {{#with aboutInfo}}
  <div id="modalHoursUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Hours</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="About" doc=this id="updateHoursForm" type="update"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{{/with}}
  {{else}}
  <h2>Access Denied: Log In</h2>
  {{/if}}
</template>
<template name="aboutDisplay">
  <h1>History:</h1>
  <p>English:{{bodyEN}}</p>
  <p>French:{{bodyFR}}</p>
  <p>Japanese:{{bodyJP}}</p>
  <h2>Hours</h2>
  <p>Monday:{{hoursMonday}}</p>
  <p>Tuesday:{{hoursTuesday}}</p>
  <p>Wenesday:{{hoursWednesday}}</p>
  <p>Thursday:{{hoursThursday}}</p>
  <p>Friday{{hoursFriday}}</p>
  <button type="button" class="btn btn-info aboutUp" data-toggle="modal" data-target="#modalHoursUpdate">Edit Info</button>
</template>