<template name="splashPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center logoText">GODSPEED</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center linkBox">
        <a href="/home" class="langLink">Home</a>
      </div>
      <div class="col-md-4 text-center linkBox">
        <a href="/admin" class="langLink">Admin</a>
      </div>
      <div class="col-md-4 text-center linkBox">
        <a href="/livemenu" class="langLink">Livemenu</a>
      </div>
    </div>
  </div>
</template>
